.header{
    font-family: fantasy;
    font-size: 15px;
    color: darkblue;
    text-align: center;
}

.shoot_form{
    text-align: center;
    margin-top: 10px;

}

#shoot_form{
    display: inline-block;
    font-size: 15px;
    font-family: fantasy;

}

input[type="text"], select{
    width: 60px;
}

#shoot_form td{
    padding: 10px;
}

#r_checkbox_table td{
    padding: 1px;
}

h1::first-line{
    margin: auto;

}
h1:hover{
    transition: 2s;
    transform: scale(1.5);
}

#image{

    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}
p{
    text-align: center;
}
#last_hit_result{
    font-family: fantasy;
    font-size: large;
}
#last_hit_result[class="hit"]{
    color: green;
}
#last_hit_result[class="miss"]{
    color:red;
}
canvas { border: 1px solid black; }