#hits_table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid
}
.header{
    font-family: fantasy;
    font-size: 20px;

}
#hits_table tr[class="content"]:hover{
    background-color: cyan;
}
td{
    text-align: center;
}
td[class="hit"]{
    color: green;
}
td[class="miss"]{
    color:red;
}